@use '../styles/variables' as *;

.collapse {
  margin: 1rem 0;

  .collapse-header {
    background: $primary-color;
    color: $white;
    border: none;
    width: 100%;
    text-align: left;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 0.5rem;

    .arrow {
      transition: transform 0.3s;
    }
  }

  &.open {
    .collapse-header {
      .arrow {
        transform: rotate(180deg);
      }
    }
  }

  .collapse-content {
    padding: 0.75rem 1rem;
    background: $light-bg;
    border-radius: 0 0 0.5rem 0.5rem;
  }
}
